// section style
.section {
  @apply pt-[70px] pb-[70px];
}

// container
.container {
  @apply mx-auto max-w-[1140px] px-4;
}

// form style
.form-inputs * {
  @apply mb-5 leading-10;
}

// social icon style
.social-icons {
  @apply space-x-4;
  li {
    @apply inline-block;
    a {
      @apply block h-9 w-9 rounded-full border border-primary hover:bg-primary text-center text-white transition;

      svg {
        @apply m-auto h-9 fill-primary;
      }

      &:hover svg {
        @apply fill-white;
      }
    }
  }
}

// form style
.form-input,
.form-textarea {
  @apply border-border focus:border-primary focus:ring-transparent;
}

// content style
.content {
  @apply prose max-w-none prose-headings:font-bold prose-h1:mb-4 prose-h1:text-h1-sm prose-h2:mb-4 prose-h2:mt-4 prose-h2:text-h2-sm prose-h3:mt-4 prose-h3:text-h3-sm prose-h4:mt-4 prose-h5:text-base prose-h5:mb-4 prose-h6:mb-6 prose-h6:text-[15px] prose-blockquote:border-primary prose-blockquote:py-1 prose-blockquote:px-4 md:prose-h1:text-h1 md:prose-h2:text-h2 md:prose-h3:text-h3 hover:prose-a:text-primary prose-a:no-underline prose-ul:list-none prose-ul:pl-0 prose-ol:pl-4 prose-hr:my-5;

  ul {
    li {
      @apply before:content-[''] before:absolute before:left-0 before:w-2 before:h-2 before:rounded-full before:bg-primary relative pl-5 before:top-[10px]
    }
  }
}

//feature card
.feature-card {
  box-shadow: 0 6px 24px -6px rgba(45,67,121,.15)!important;  
}

//play button
.play-btn {
  svg  path {
    transition: fill .2s;
    transition-delay: .3s;

  }

  &::before {
    @apply delay-200 absolute z-[-1] h-[85px] w-[85px] scale-0 rounded-full bg-white transition-all duration-300	 content-[''];
  }

  &::after {
    @apply absolute z-[-2] h-[75px] w-[130px] rounded-lg bg-primary/60 transition-all duration-500  content-[''] ;
  }

  &:hover:before {
    @apply scale-100;
  }

  &:hover::after {
    @apply h-full  w-full;
  }

  &:hover {
    svg path {
      @apply fill-primary;
    }
  }
}

//swiper pagination
.service-carousel .swiper-pagination {
  @apply flex justify-center;

  span {
    @apply w-[10px] h-[10px] rounded-full border border-primary mx-[5px] inline-block  cursor-pointer;
    &.swiper-pagination-bullet-active {
      @apply bg-primary;
    }
  }
}


//cta link
.cta-link {
  img   {
    transition: margin .3s ease;
  }
  &:hover {
    img {
      @apply ml-2
    }
  }
}

//card
.card {
  @apply border mt-10 md:mt-0 border-[rgba(0,0,0,.125)] shadow-light px-5 py-12 bg-white py-12 px-5;

  &--recommended {
    @apply md:-mx-8 md:-my-6 relative z-10 shadow-[0_1rem_3rem_rgba(0,0,0,.175)] border-0;
  }
}